.card:hover {
    box-shadow: 7px 7px 5px 0px rgba(170, 170, 170, 0.75);
}

.btn:hover {
    box-shadow: 6px 6px 3px 0px rgba(170, 170, 170, 0.75);
}

.card:hover,
.btn:hover {
    transform: translateY(-3px);
}

.card,
.btn {
    transition: all 400ms ease;
}
